.conteudo-dev {
  height: 100%;
  width:100vw;
  background-color: #112531;
    
}


.banner-dev {
  height: 20%;
  background: black;

}

.eleitortitulo{
  text-align: center;
}

.conteudo_baixo {
   
  display: flex; /* Transforma o contêiner em um container flexível */
 
  text-align: center;
  gap: 20px;;
}

.caixasdodev{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 100%;
  max-width: 480px;
  background-color: #324f61;
  border-radius: 10px;
  padding: 10px;

}

input.stylish {
  position: relative;
  width: 250px;
  padding: 12px 0 12px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc; /* linha base */
  background: transparent;
  color: #fefefe;
  outline: none;
  transition: all 0.3s ease;
  margin-right: 35%;
}

/* Placeholder animado */
input.stylish::placeholder {
  color: #aaa;
  transition: all 0.3s ease;
}

/* Quando focado ou preenchido */
input.stylish:focus::placeholder,
input.stylish:not(:placeholder-shown)::placeholder {
  transform: translateY(-20px);
  font-size: 12px;
  color: #fefefe;
}

/* Linha animada com pseudo-elemento */
input.stylish:focus {
  border-bottom: 2px solid #294354;
}

.buttonfoda {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 75%;

}

.buttonfoda span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.buttonfoda svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.buttonfoda:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.buttonfoda:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.buttonfoda:hover span {
  transform: translateX(5em);
}

.buttonfoda:active {
  transform: scale(0.95);
}

.select {
  top: 5%;
  left: 10%;
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selected {
  background-color: #112531;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #112531;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #2a2f3b;
  width: 150px;
  font-size: 15px;
}
.option:hover {
  background-color: #323741;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}


@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}