/* Container principal */
.conteudo {
  height: 100%;
  width:100vw;
  background-color: #112531;
    
}

/* Banner do topo */
.banner-profile {
  height: 150px;
  background: black;
}

.profile-photo{
  display: grid;
  justify-content: center;

  transition: transform 0.3s ease-in-out;
}

.profile-photo:hover{
  cursor: pointer;
  transform: translate(0, -5px);
}


.splittxt{
  font-size: 25px;
  margin-top: 3%;
  margin-left: 46.7%;
  gap: 5px;
}

.feedback{
  width: 100%; /* isso é padrão para elementos div */
  height: 100%;
  border: 1px solid;
  color: #112531;
}

.box1 {
margin-top: 7%;
margin-left: 13% ;
 width: 75%;
 height: 55%;
 background-color: brown;
 border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349);
  text-align: center;
}




.box2{
  width: 20%;
  height: 70%;
  margin-top: -30%;
  background-color: #4e6879;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349);
}

.box3{
  width: 20%;
  height: 69%;
  margin-left: 75%;
  margin-top: -73%;
  background-color: #4e6879;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349);
}


.input1 { 
  width: 90%;
  margin-bottom: 15%;
  max-width: 670px;
  height: 100%;
  max-height: 120px;
  margin-top: 13px;
  padding: 12px 15px;
  font-size: 15px;
  color: #fff; /* texto branco */
  background: #11253191;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s ease;
  backdrop-filter: blur(6px); /* efeito vidro */
  text-align:initial;
}

.input1::placeholder {
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s ease;
}

.input1:focus {
  border-color: #07151d5e; 
  box-shadow: 0 0 8px rgba(59, 130, 246, 0.6);
  background: #07151d5e;
}

.input1:focus::placeholder {
   color: rgba(255, 255, 255, 0.3);
}


.titulo{
  font-size: 40px;
  gap: 15px;
}