.header-dev {
  text-align: center;
  padding: 2rem 1rem;
  background: linear-gradient(to bottom, #2e465a, #1d2f3d);
}

.title-dev {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.highlight-dev {
  color: #6effc9;
}

.sub-dev {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 8px;
  color: #bbb;
}
