.navbar-dev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #142733;
  padding: 0.8rem 1.5rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.menu-btn-dev {
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.navbar-icons-dev {
  display: flex;
  gap: 1.5rem;
  color: white;
}
